* {
  box-sizing: border-box;
}

html, body, #root, .fit {
  height: 100%;
}

html {
  font-family: Georgia, serif;
  font-size: 22px;
}

.night-mode {
  color: white;
  background-color: black;
}

a, a:visited {
  color: black;
}

.night-mode a, .night-mode a:visited {
  color: white;
}

select {
  border: 1px solid black;
  padding-left: .3rem;
  padding-right: .3rem;
  background-color: white;
  border-radius: 4px;
}

/* Hide the ESV "listen" link. */
h2 small.audio {
  display: none;
}
